input 
{ 
   beats  {
      port=> 5400
   }

}

filter {
   grok {
      match => { "message" => "%{COMBINEDAPACHELOG}"}
   }
}

output 
{
    file {
      path => /usr/share/logstash/logstash-output.log
         codec => line { format => "custom format: %{message}"}
   }
}