filebeat.inputs:
- type: log
  paths:
    - "/usr/share/filebeat/test.log"

{% if my_var == 'filebeat_dir_to_logstash' %}
output.logstash:
  hosts: ["logstash770:5400"]
{% endif %}

{% if my_var == 'filebeat_dir_to_file' %}
output.file:
  path: '/usr/share/filebeat/logs'
{% endif %}
